.media{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    background-color: #282c34;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}
.media:hover{
    background-color: aliceblue;
    color: black;
}

@media (max-width : 550px){
    .media{
        width: 46%;
    }
}

.poster{
    border-radius: 10px;
}

.title{
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
}

.sunTitle{
    display: flex;
    justify-content: space-between;
    padding: 3px 2px;
    font-family: "Montserrat" , sans-serif;
    font-weight: 700;
}